body
{
	font-family: "verdana";
	color:#555555;
}
.dropdown-menu {
	min-width: 200px;
}
.dropdown-menu.columns-2 {
	min-width: 400px;
}
.dropdown-menu.columns-3 {
	min-width: 600px;
}
.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}
.multi-column-dropdown {
	list-style: none;
  margin: 0px;
  padding: 0px;
  font-family: serif;
  font-size: 14px;
}
.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #333;
	white-space: normal;
}
.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #262626;
	background-color: #999;
}
 
@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}


.mainrow
{
	margin:10px 0px 10px 0px;
}

.mainitem
{
	margin:0;
	padding:15px 0px 15px 0px;
	background-color:#ffffff;
	text-align:center;
	box-shadow: 1px 1px 5px #cccccc;
}

.mainitem .itemname
{
	padding:10px;
	display:block;
	font-weight:bold;
	font-size:14px;
}
.mainitem .itemcategory
{
	color:#ff0000;
}
.mainitem .itemcheckout
{
	padding:10px 10px 0px 10px;
}

.mainitem .itemcheckout .itemprice i
{
	font-size:24px;
	font-weight: normal;
}
.mainitem .itemcheckout .itemprice
{
	padding:18px 0px 0px 20px;
	font-size: 22px;
	color:#000000;
}
.footer_color1{
	background-color: #d19cbc;
	color: #eee;
	margin-top: 20px;
	padding-bottom: 10px;
}
.footer_color2{
	background-color: #c07aa5;
	color: #eee;
	padding-bottom: 10px;
}
.footer_color3{
	background-color: #984778;
	color: #eee;
	padding-bottom: 10px;
}

.bgForSite{
	background-color: #231709;
	/* color: #fff; */
}
.footerHeaderLables{
	font-size: 26px;
	font-family: "Unica One","HelveticaNeue","Helvetica Neue",sans-serif;
	font-weight: 400;
	text-transform: uppercase; 
}
.footerLable{
	font-family: "Unica One","HelveticaNeue","Helvetica Neue",sans-serif;
	font-weight: 400;
}
.bgCorosel{
	background-color: #894727;
}

.collection-card__meta {
    display: block;
/*     position: absolute; */
    bottom: 20px;
    left: 0;
    margin-right: 10px;
    z-index: 2;
}

.viewAll {
    font-size: 0.875em;
    font-weight: 700;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin: 10px 0 0 10px;
    font-size: 0.8125em;
}

.subCategoryBox{
	box-shadow: 1px 1px 5px #cccccc;
}
.subCategoryName {
    display: inline;
    background-color: #006eff;
    color: #fff;
    margin-bottom: 10px;
    padding: 2px 10px;
    letter-spacing: 0;
    font-size: 1.625em;
    line-height: 1.2;
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
}

.bgWidth{
	    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-default {
    background-color: #5f3f18;
    border-color: #e7e7e7;
}
.navbar-default .navbar-nav>li>a{
	color: #b9d8d8;
}

.cursor_pointer{
	cursor: pointer;
}	

.logo {
	background-image: url('resource/images/OSC1.png');
	background-size: cover;
}
.logo_ht_wt{
	height: 100px;
	width: 100px;
}
.remove_padding{
	padding-right: 0px;
	padding-left: 0px;
}
.padding_top{
	padding-top: 34px;
}
.corousel_img_heigwidth{
	width: 300px;
	height: 150px;
}
.img_ht_wt{
	height: 200px;
	width: 236px;
}
.div_row_bg{
	background: #f3e6ee;
	height: 36px;
	width: 100%;
}
.padding-top10{
	padding-top: 8px;
}
.fontSize18{
	font-size: 18px;
	color: #181b1b;
}
.text_right{
	text-align: right;
}



.nav1 { margin:50px auto; padding:0px; list-style:none;  height:auto; width:100%;   background:#fff ;  }
	
    .nav1 li { display:inline-block; position:relative; float:left;  
  	}
    
    .nav1 li a {display:inline-block; float:left; height:29px; line-height:29px;  text-decoration:none; margin:0 1px;   padding:0 10px;  color: #333;
	
	}

	.nav1 li:hover {box-shadow: 0px 0px 5px #789; -moz-box-shadow:1px 1px 5px #789; }
	.nav1 li:hover  a{ background-color: #DED9B0;  }
	

	.nav1 li .div{ display:none; margin:0; padding:1px; position:absolute; top:29px;   min-width:100px; height:auto; width:auto;  }

	.nav1 li:hover .div{  display:flex; position:absolute; background:#DED9B0; min-width:310px;   height:auto; width:auto; 
					 	z-index:10001;   box-shadow: 3px 3px 10px #789; -moz-box-shadow:1px 1px 5px #789; margin-right:0px;  margin-left : -200px;}
					 	
	.nav1 li:hover .div .div1{  display:block; min-width:310px; width:auto;height:auto;
	  background: ; margin: 3px; /* border: solid 1px #000;  */  float: left; }
	 
	.nav1 li:hover .div .div1 .val{ width:150px;  min-height: 32px; height:auto;      float: left; margin: 2px; padding:2px; font-size: 90%; line-height:14px;
			color: #000;
			
			

			}
 	.nav1 li:hover .div .div1 .val:hover{ box-shadow: -1px -1px 5px #FFF; -moz-box-shadow:-1px -1px 5px #789; 
	background-color: #999661;cursor: pointer;
 	}
 	
 	
 	.category_main_div{width: 90%; height:auto; background: #fff; margin: 0 auto;}
 	/* .category_item_div{background: #efefef; width:250px; min-height:130px; height:auto; font-size: 100%; margin:1px; float: left; display: inline-block; padding: 5px;
			border: 1px solid #567; border-radius:5px;}
	 */
	.header_main_div{margin: 10px 100px; }
	
	.example {	list-style:none; -webkit-columns: 220px;  -moz-columns: 220px;  columns: 220px;
		  -webkit-column-gap: 10px ;  -moz-column-gap: 10px ; column-gap:10px; 
			padding: 10px;  }
	.example .li {   padding: 10px; 
	 margin-bottom: 10px;  -webkit-column-break-inside: avoid;  page-break-inside: avoid;  break-inside: avoid;}

	 .subCategory_Manufacturer {	list-style:none; -webkit-columns: 220px;  -moz-columns: 220px;  columns: 220px;
		  -webkit-column-gap: 10px ;  -moz-column-gap: 10px ; column-gap:10px; 
			padding: 10px;  }
	.subCategory_Manufacturer .li {   padding: 6px; 
	 margin-bottom: 6px;  -webkit-column-break-inside: avoid;  page-break-inside: avoid;  break-inside: avoid;}


	.item_outer{padding: 5px; width: 40%; margin: 20px auto; border: 1px solid #ccc; font-size: 100%;  border-radius:5px; background: #e9f8f8;  }	
	.item_img{ width: 20%; float:left; height:auto; display: inline-block;}
	.item_img img{ width: 100%; height: auto;}
	.item_dis{width: 79%; float:left;  padding: 5px;}
	.item-dis-sub{ width: 49%; height: auto; float: left;}
	
	.row1{ width: 100%; height: auto; min-height:30px;  text-align: center; display: inline-block;  padding: 5px;}
	
	
	.cartName{ height: auto; padding:5px 15px;text-align: right;}
	.cartItems{min-width: 10px; height:10px; background: #e8e8d0; position: absolute; right: 0px;  display: none; z-index: 150;-webkit-transition: height 2s; 
    transition: height 2s;}
	.cartName:hover .cartItems{display: block; min-width: 360px; width: auto; height: auto; min-height:100px;}
	
	
	.subCategory {display: none;}
	.category:hover .subCategory{display: block;color: #3c003c;font-size: 16px;font-family: serif;}
	.dropdown:hover{background: #e2efee;}
	
	.show1{}
	.show2{display: none;}
	.float_l{float: left;}
	.icon{padding:0px; width: 32px; height: 32px; background: #efefef; float: left; border-radius:5px; margin: 2px; text-align: center; font-size: 25px; color: #3F5B9A;}
	.icon:hover{background: #3F5B9A; color: #efefef; box-shadow: -1px -1px 0px #fff; -moz-box-shadow:-1px -1px 0px #fff; }
	.icon1{width: 64px; height: 32px; background: #efefef; float: left; border-radius:5px; margin: 2px;}
	
	.image_response {width: 50%;	margin: 0 auto;}
	.searchbg_bg_image {height: 180px; width: 80%; margin: 0 auto; border-radius: 8px; margin-top: 50px;}

@media only screen and (max-width: 1000px) {
    body {
        background-color:;
    }
    .nav1 {  margin:0;  height:auto; width:100%;  color: #000;float: left; background:none ;  }
  .nav1 li{  text-align: center; display: block; width: 100%;  }
  .nav1 li a{ display:block; width: 100%; background-color:#efefef; margin: 1px;}
 .nva li:hover a{ background: #ccc;}
 .nav1 li:hover .div { display:inline-block; position:static;  height:auto; width:100%; margin: 0;  box-shadow: none;}
 .nav1 li:hover .div  .div1{ min-width: 100%;width:auto; height:auto; display:inline-block; position: static; margin-left:0px; float: none; background:; }
.nav1 li:hover .div .div1 .val{max-width:150px;  min-height: 32px; height:auto width:48%;    float: left; margin: 2px; padding:2px; font-size: 90%; line-height:14px;
			/* -webkit-linear-gradient(#dedede, #789); linear-gradient(#dedede, #789); */
			background-color:#dedede;
			}
				
.image_response{width: 100%;height: auto;}
.searchbg_bg_image { width: 100%;height: auto;}

.item_outer{ width: 90%;}	
 	.item-dis-sub{ width: 100%; height: auto; float: left;}	
 	
 	.show1{display: none;}
 	.show2{ display: block; padding: 5px 15px; margin-top: 2px;  column-count:2; -webkit-column-count: 2; -moz-column-count: 2;}
 	.clear{ clear: both;}
 	
 	
}
@media only screen and (max-width:700px)
{
	.show2{ display: block; padding: 5px 15px; margin-top: 2px;  column-count:1; -webkit-column-count: 1; -moz-column-count: 1;}
	.col-md-6{ width: 100%;}
	.li1{width: 80%;}
	
}


 @media only screen and (max-width: 400px) {
 
	 	.nav1 li:hover .div  .div1 .val{ width:150px; height: 30px; background:#dedede; float: left; margin: 2px; padding:5px; }
	 	.item_outer{ width: 100%;}	
	 	
}  
/*===========.nav1igation ==============*/

@media (min-width: 300px) {
  .carosel-item {
    width: 50%;
  }
}
@media (min-width: 500px) {
  .carosel-item {
    width: 33.333%;
  }
}
@media (min-width: 768px) {
  .carosel-item {
    width: 25%;
  }
}
.carosel {
  position: relative;
  background-color: #000;
}
.carosel-inner {
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
}
.carosel-item {
  display: inline-block;
}
.carosel-control {
  position: absolute;
  top: 50%;
  padding: 15px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
  transform: translateY(-50%);
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  display: inline-block;
}
.carosel-control-left {
  left: 15px;
}
.carosel-control-right {
  right: 15px;
}
.carosel-control:active,
.carosel-control:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

.border_radius50{
	border-radius: 50%;
}
.height40{
	height: 40px;
}
.width80{
	width: 80%;
}
.even{
	background-color: #f0f2d0;
}
.odd{
	background-color: #e3e7a5;
}
.align_center{
	margin: 0 auto;
}
.margin_top30{
	margin-top: 30px;
}

.align_right{
	float: right;
}
.bg_green{
	background: #a3a92e;
}
.height32{
	min-height: 32px;height: auto;
}
.checkoutBg{
	background: #f3f4d7;
}
.checkoutReview_width{
	width: 96%;margin: 0 auto;
}
.processing_Main {
	width: 20%;
	height: 60px;
	margin: 0px auto;
	padding: 5px;
	z-index: 3;
	position: absolute; /*newly added*/
	right: 500px; /*newly added*/
	top: 400px;
}
.color_blue{
	font-size:18px;
	color: #535300;
}
.processing_Div {
	width: 100%;
	height: 45px;
	margin: 0 auto;
	padding: 0px;
	text-align: center;
}
.error{
   color:#d50000;
   font-size: 14px;
 }
 .errMsg{
   color:#d50000;
   font-size: 12px;
 }
 .successMsg{
   color:#008000;
   font-size: 12px;
 }
 
 .text_center{
 text-align: center;
 }
 
 .product_lbl{
    font: 16px  Helvetica, sans-serif;
    color: #279bd1;
    margin-bottom: 5px;
    line-height: 25px;
    border-bottom: 1px solid #f0f0f0;
    width: 100%;
}
.border_bottom{
	 border-bottom: 1px solid #f0f0f0;
	 padding-bottom: 20px;
}

.quantity_textbox{
    padding: 8px 10px;
    text-overflow: ellipsis;
    color: #252525;
    background-color: #F0F0F0;
    border: 1px solid #E4E4E4;
	height: 30px;
	width:90px;
	
}

.addToCart {
    background-color: #32a39f;
    color: #ffffff;
    outline: 0 none;
    height: 40px;
    width: 160px;
   }
.border_all{
	border: 1px solid #f0f0f0;
	height: 36px;
	padding-top: 10px;
}
.padding-left
{
	padding-left: 20px;
}

.grid_headerBG{
	background: #46335f;
	color: white;
	font-size: 14px;
	padding-top: 8px;
}

.grid_odd{
	background: #fcfcfc;
}
.grid_even{
	background: #e1d8ec;
}

#loadMore {
    padding: 10px;
    width:200px;
    text-align: center;
    background-color: #33739E;
    color: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
#loadMore:hover {
    background-color: #fff;
    text-decoration:none;
    color: #33739E;
}

.footer{
	/* width:100%;
	position : absolute;
    bottom : 0; */
}