<div class="row ">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="row grid_headerBG" style="height: 36px">
			<div class="col-md-3">Your Design</div>
			<div class="col-md-3">Item Desc</div>
			<div class="col-md-2">Unit Price</div>
			<div class="col-md-2">Quantity</div>
			<div class="col-md-2">Subtotal</div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="row" ng-repeat="product in addedCartItemList"
			style="padding: 1px" ng-class-odd="'grid_odd'"
			ng-class-even="'grid_even'">
			<div class="col-md-3">
				<img ng-src="{{product.divBlob}}" width="160" height="160">
			</div>
			<div class="col-md-3">{{product.name}}</div>
			<div class="col-md-2">{{product.mrp}}</div>
			<div class="col-md-2">
				<input type="text" style="width: 60px; text-align: right;"
					ng-model="product.quantity" readonly="readonly"> <br>
				<label ng-if="product.errorMsg" class="error">Min Quantity
					to purchase is {{product.minQuantityToPurchase}}</label>

			</div>
			<div class="col-md-2">Rs. {{product.total}} <label style="color:#464245;font-size: 10px;text-decoration: line-through;">{{product.withoutPromocodeValue}}</label> </div>
		</div>

	</div>
	<div class="col-md-1"></div>
</div>
<div class="row" ng-if="addedCartItemList.length !=0">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-9" style="text-align: right;">
				<b> Shipping amount :</b>
			</div>
			<div class="col-md-2" style="text-align: right;">Rs.
				{{shippingCharges}}</div>
			<div class="col-md-3"></div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
<div class="row" ng-if="promoCodeAmt !=0">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-9" style="text-align: right;">
				<b> Promo Code amount :</b>
			</div>
			<div class="col-md-2" style="text-align: right;">Rs.
				{{promoCodeAmt}}</div>
			<div class="col-md-3"></div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>


<div class="row" ng-if="addedCartItemList.length !=0">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-9" style="text-align: right;">
				<b> Total :</b>
			</div>
			<div class="col-md-2" style="text-align: right;">Rs.
				{{totalCost()}}</div>
			<div class="col-md-3"></div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>

<br>
<br>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10"  style="border:1px solid #fceece;">
		<div class="row">
			<div class="col-md-4" style="text-align: right;">
				<label>Custer Address :</label>
			</div>
		<div class="col-md-8">
			<label>{{rsCustomerJson.firstName}}
				{{rsCustomerJson.lastName}}</label><br> <label>{{rsCustomerJson.emailId}}</label><br>
			<label>{{rsCustomerJson.phoneNumber}}</label><br> <label>{{rsCustomerJson.address}}</label><br>
			<label>{{rsCustomerJson.city}}</label><br> <label>{{rsCustomerJson.pincode}}</label><br>
			<label>{{rsCustomerJson.state}}</label><br>
		</div>
	</div>
	</div>
	<div class="col-md-1"></div>

</div>

<br>
<br>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10"  style="border:1px solid #fceece;">
		<div class="row">
			<div class="col-md-4" style="text-align: right;">
				<label>Promo Code (If you have promo code apply here) :</label>
			</div>
		<div class="col-md-8">
			 <input type="text" ng-model="promoCode"> <button type="button" class="btn btn-success" ng-click="applyPromoCode()">Apply</button>
			<br>
			<label ng-if="successfull == 'no'" class="errMsg">{{msg}}</label>
			<label ng-if="successfull == 'yes'" class="successMsg">{{msg}}</label>
			{{success}}
		</div>
	</div>
	</div>
	<div class="col-md-1"></div>

</div>




<div class="row">
<div class="col-md-1"></div>
<div class="col-md-11">

<form action="https://secure.payu.in/_payment" method="post"
					name="payuForm" id="payuFormId">
					<input type="hidden" name="phone"
						value="{{customerJson.phoneNumber}}" /> <input
						type="hidden" name="service_provider" value="payu_paisa" /> <input
						type="hidden" name="txnid"
						value="{{customerJson.txnId}}" /> <input
						type="hidden" name="hash"
						value="{{customerJson.hashCodeId}}" /> <input
						type="hidden" name="zipcode" value="" /> <input type="hidden"
						name="curl" value="" /> <input type="hidden" name="state"
						value="" /> <input type="hidden" name="lastname" value="" /> <input
						type="hidden" name="address1" value="" /> <input type="hidden"
						name="address2" value="" /> <input type="hidden" name="firstname"
						value="{{customerJson.firstName}}" /> <input
						type="hidden" name="furl"
						value="http://localhost:8080/OSCWeb/" /> <input
						type="hidden" name="productinfo" value="nothing" /> <input
						type="hidden" name="country" value="" /> <input type="hidden"
						name="city" value="" /> <input type="hidden" name="udf2"
						value="{{customerJson.txnId}}" /> <input
						type="hidden" name="amount"
						value="{{customerJson.strTotalPurchase}}" /> <input
						type="hidden" name="udf1" value="" /> <input type="hidden"
						name="pg" value="" /> <input type="hidden" name="udf5" value="" />
					<input type="hidden" name="email"
						value="{{customerJson.emailId}}" /> <input
						type="hidden" name="udf4" value="" /> <input type="hidden"
						name="surl"
						value="http://localhost:8080/OSCWeb/" />
					<input type="hidden" name="udf3" value="" /> <input type="hidden"
						name="key" value="4XJHz7g1" />
					<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<img src="resource/images/pay_now.png" alt="submit" ng-click="checkoutAction()" style="cursor: pointer;">
				
				
				
				
</form>
</div>
</div>