<div class="container-fluid bgForSite">
	<div class="row">
		<div class="col-md-9" align="center">
			<div class="row">
				<div class="col-md-3">
					<label class="footerHeaderLables">Contact</label> <br> <label
						class="footerLable">abc@abc.com</label>
				</div>
				<div class="col-md-3">
					<label class="footerHeaderLables">Support</label> <br> <label
						class="footerLable">Terms and Conditions</label>
						<br> <label
						class="footerLable">Privacy Policy</label>
						<br> <label
						class="footerLable">Return Policy</label>
				</div>
				<div class="col-md-3">
					<label class="footerHeaderLables">About</label> <br> <label
						class="footerLable">About</label>
						<br> <label
						class="footerLable">News</label>
						<br> <label
						class="footerLable">Contact</label>
				</div>
				<div class="col-md-3">
					<label class="footerHeaderLables">Be in the know</label> <br> <label
						class="footerLable"><input> </label>
				</div>
			</div>
		</div>
	</div>
</div>


<table cellpadding="0" cellspacing="0" border="0" width="100%"
	class="footerPosition">
	<tr class="footerBgColor">


		<td style="height: 10px;" class="intro_text lable14" align="center">©
			{{year}}  All Rights Reserved.


		
		</td>



	</tr>
</table>
