<div class="container-fluid bgForSite footer">
	<div class="row">
		<div class="col-md-9" align="center">
			<div class="row">
				<div class="col-md-3">
					<label class="footerHeaderLables">Contact</label> <br> <label
						class="footerLable">abc@abc.com</label>
				</div>
				<div class="col-md-3">
					<label class="footerHeaderLables">Support</label> <br> <label
						class="footerLable">Terms and Conditions</label> <br> <label
						class="footerLable">Privacy Policy</label> <br> <label
						class="footerLable">Return Policy</label>
				</div>
				<div class="col-md-3">
					<label class="footerHeaderLables">About</label> <br> <label
						class="footerLable">About</label> <br> <label
						class="footerLable">News</label> <br> <label
						class="footerLable">Contact</label>
				</div>
				<div class="col-md-3">
					<label class="footerHeaderLables">Be in the know</label> <br>
					<label class="footerLable"><input> </label>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="col-md-12"
		style="background: #fff; width: 100%; text-align: center;">
		<label>© {{year}} All Rights Reserved.</label>
	</div>
</div>


