<div class="container-fluid">
	<br>
	<div class="row">
		<!-- 		<div class="col-md-12">
			<div class="container corouseldisplay">
				<div id="carousel">
					<figure>
						<img src="resource/images/corousel/corousel_1.jpg" alt=""
							class="corousel_img_heigwidth">
					</figure>
					<figure>
						<img src="resource/images/corousel/corousel_2.jpg" alt=""
							class="corousel_img_heigwidth">
					</figure>
					<figure>
						<img src="resource/images/corousel/corousel_3.jpg" alt=""
							class="corousel_img_heigwidth">
					</figure>
					<figure>
						<img src="resource/images/corousel/corousel_4.jpg" alt=""
							class="corousel_img_heigwidth">
					</figure>
					<figure>
						<img src="resource/images/corousel/corousel_1.jpg" alt=""
							class="corousel_img_heigwidth">
					</figure>
					<figure>
						<img src="resource/images/corousel/corousel_2.jpg" alt=""
							class="corousel_img_heigwidth">
					</figure>
					<figure>
						<img src="resource/images/corousel/corousel_3.jpg" alt=""
							class="corousel_img_heigwidth">
					</figure>
					<figure>
						<img src="resource/images/corousel/corousel_4.jpg" alt=""
							class="corousel_img_heigwidth">
					</figure>
					<figure>
						<img src="resource/images/corousel/corousel_3.jpg" alt=""
							class="corousel_img_heigwidth">
					</figure>
				</div>
			</div>
		</div> -->
		<div class="col-md-12">
			<div id="myCarousel" class="carousel slide bgCorosel"
				data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
					<li data-target="#myCarousel" data-slide-to="3"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="resource/images/corousel/corousel_1.jpg" alt="Chania">
					</div>

					<div class="item">
						<img src="resource/images/corousel/corousel_4.jpg" alt="Chania">
					</div>

					<div class="item">
						<img src="resource/images/corousel/corousel_3.jpg" alt="Flower">
					</div>

					<div class="item">
						<img src="resource/images/corousel/corousel_4.jpg" alt="Flower">
					</div>
				</div>

				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel" role="button"
					data-slide="prev"> <span
					class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a> <a class="right carousel-control" href="#myCarousel" role="button"
					data-slide="next"> <span
					class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
	<br> <br> <br>
	<div class="row"
		ng-repeat="(subcategory,itemList) in homeProductDataList">
		<div class="col-md-12">
<!-- 			<div class="row">
				<div class="col-md-12 div_row_bg  padding-top10 cursor_pointer"
					style="text-align: center;"
					ng-click="viewAllItems(itemList[0].subCategoryId)">
					<label class="fontSize18">{{subcategory}}</label>
												<img src="resource/images/view_more.png" alt="" height="36">


				</div>
			</div> -->
			<div class="row subCategoryBox">
				<section class="container-fluid ">
					<div class="col-md-10">
						<div class="row">
							<div class="col-md-3 mainrow" ng-repeat="itemJson in itemList">
								<div class="mainitem" ng-click="viewProduct(itemJson.id)">
									<a><img ng-src="{{itemJson.imageSrc}}" class="img_ht_wt"></a>
									<label>{{itemJson.name}}</label> <span><img
										alt="" src="resource/images/gray-rupee-icon.png">
										{{itemJson.mrp}}</span> <br> <span
										ng-if="itemJson.discount && itemJson.discount !=0">Flat
										{{itemJson.discount}}% Off </span> <br> <span>
										<button class="btn btn-success" type="button">CUSTOMISE
											NOW</button>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2 " style="padding-top: 80px; cursor: pointer;" ng-click="viewAllItems(itemList[0].subCategoryId)">
						<div class="mainitem">
							<div class="collection-card__meta">
								<p class="h1 subCategoryName">{{subcategory}}</p>
								<p class="viewAll"
									ng-click="viewAllItems(itemList[0].subCategoryId)">View all</p>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>