<div class="row ">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="row grid_headerBG" style="height: 36px">
			<div class="col-md-2">Your Design</div>
			<div class="col-md-2">Item Desc</div>
			<div class="col-md-2">Unit Price</div>
			<div class="col-md-2">Quantity</div>
			<div class="col-md-2">Subtotal</div>
			<div class="col-md-2">Actions</div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="row" ng-repeat="product in rsAddedCartItemList"
			style="padding: 1px" ng-class-odd="'grid_odd'"
			ng-class-even="'grid_even'">
			<div class="col-md-2">
				<img ng-src="{{product.divBlob}}" width="160" height="160">
			</div>
			<div class="col-md-2">{{product.name}}</div>
			<div class="col-md-2">{{product.mrp}}</div>
			<div class="col-md-2"><input type="text" style="width: 60px;" ng-model="product.quantity" ng-blur="onChangeItemQuantity(product)">
			<br> <label
						ng-if="product.errorMsg" class="error">Min Quantity to purchase is
						{{product.minQuantityToPurchase}}</label>
			
			</div>
			<div class="col-md-2">Rs. {{product.total}}</div>
			<div class="col-md-2">
				<a class="removeCategory actionIcons" title="Remove"
					ng-click="deleteItem(product.id)"><i class="fa fa-trash-o"
					style="font-size: 12px;"></i></a>
			</div>
		</div>

	</div>
	<div class="col-md-1"></div>
</div>
<div class="row" ng-if="rsAddedCartItemList.length !=0">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-7" style="text-align: right;">
				<b> Shipping amount :</b>
			</div>
			<div class="col-md-2" style="text-align: right;">Rs.
				{{shippingCharges}}</div>
			<div class="col-md-3"></div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>

<div class="row" ng-if="rsAddedCartItemList.length !=0">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-7" style="text-align: right;">
				<b> Total :</b>
			</div>
			<div class="col-md-2" style="text-align: right;">Rs.
				{{totalCost()}}</div>
			<div class="col-md-3"></div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
<div class="row" ng-if="rsAddedCartItemList.length !=0">
	<div class="col-md-1"></div>
	<div class="col-md-10" style="text-align: right;">
		<button type="button" class="btn btn-success"
			ui-sref="customerAddressInfo">Next >></button>
	</div>
	<div class="col-md-1"></div>
</div>