<div class="container-fluid" id="subCategoryControllerId" style="background: white; width: 100%;">
<form ng-submit="saveOrUpdateAction()">
<br><br>
		<div class="row">
			<div class="col-md-6 lblfont16px" style="text-align: end">
				<label>SubCategory Name :</label>
			</div>
			<div class="col-md-6">
				<input type="text" class="form-control" required="required"
					ng-model="subCategoryObj.name">
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6 lblfont16px" style="text-align: end">
				<label>Category Division Name :</label>
			</div>
			<div class="col-md-6">
			<select ng-model="subCategoryObj.categoryDivisionId"
									ng-options="fieldName.id as fieldName.name for fieldName in categoryDivisionList" required="required">
									<option value="" disabled selected>Select
										Category Division</option>
								</select>
			
				<!-- <div angucomplete-alt id="customerId" 
																	pause="100"
																	selected-object="selectedCategoryDivisionNameAction"
																	local-data="categoryDivisionList"
																	search-fields="name" title-field="name"
																	minlength="2"  id="categoryDivisionNameId" initial-value="categoryDivisionObj"
																	input-class="search-control height34 "
																	match-class="highlight"></div> -->
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6 lblfont16px" style="text-align: end">
				<label>Is Unique Products :</label>
			</div>
			<div class="col-md-6">
				<input type="checkbox" ng-model="subCategoryObj.isUniqueProduct">
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6 lblfont16px" style="text-align: end">
				<label>Show The Items In Home Page :</label>
			</div>
			<div class="col-md-6">
				<input type="checkbox" ng-model="subCategoryObj.showItemsInHomePage">
			</div>
		</div>
		
		<br> <br>
		<div class="row">
			<div class="col-md-6">
				<button type="submit" class="btn btn-success btnInfo align_right">SUBMIT</button>
			</div>
			<div class="col-md-6">
				<button type="button" class="btn btn-warning btnInfo" ng-click="clear()">CLEAR</button>
			</div>
		</div>

</form>

<br>
<!-- Table -->
<div class="row">
	<div class="col-md-12"  style="padding-left: 25px;">
		<table id="subCategoryTableId"></table>

	</div>
</div>
<!-- End Table -->
</div>