<div class="container-fluid" style="background: white; width: 100%;"
	id="createItemControllerId">

	<div class="row">
		<div class="col-md-12" style="text-align: right;">
			<button type="button" class="btn btn-info" ui-sref="create_item">
				<span class="glyphicon glyphicon-plus"></span>Add New
			</button>
		</div>
	</div>


	<!-- Table -->
	<div class="row" >
		<div class="col-md-12" style="padding-left: 25px;">
			<table id="itemTableId"></table>

		</div>
	</div>
	<!-- End Table -->




</div>











